h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: oblique;
    font-size: 48px;
    color: #FFFFFF;
}
h2 {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-size: 36px;    
    color: #FFFFFF;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
}
h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}
/*
h5 and h6 are icons
*/
p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}


