@use'fonts';
@import 'fonts';

/*footer*/
.section-eight {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #232323;
    width: 100%;
    height: 25vh;
}
.grid-container-eight {
    display: flex;
    width: 10%;
}
.grid_element-eight-one {

}
.logo-two {

}
.grid_element-eight-two {

}
.grid_element-eight-three {

}
.grid_element-eight-four {

}
.grid_element-eight-five {

}
.grid_element-eight-six {

}
.grid_element-eight-seven {

}
